[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
django-heroku = "*"
celery = "*"
redis = "*"
django-webpack-loader = "*"
eventlet = "*"
requests = "*"
social-auth-app-django = "*"
httpretty = "*"
django-redis = "*"
pylint-django = "*"

[dev-packages]
pylint = "*"
pydocstyle = "*"
"flake8" = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
