@import '../../../node_modules/bootstrap/scss/bootstrap';

@import "scss/variables.scss";
@import "scss/mixins.scss";
@import "scss/global.scss";
@import "scss/navbar.scss";
@import "scss/masthead.scss";
@import "scss/services.scss";
@import "scss/portfolio.scss";
@import "scss/bootstrap-overrides.scss";
@import "../../../apps/login/assets/login.scss";
@import "scss/account.scss";



// MATERIAL ICONS
.material-icons-new {
    display: inline-block;
    width: 38px;
    height: 38px;
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-white {
    webkit-filter: contrast(2) invert(1);
    -moz-filter: contrast(2) invert(1);
    -o-filter: contrast(2) invert(1);
    -ms-filter: contrast(2) invert(1);
    filter: contrast(2) invert(1);
    &:hover:enabled {
      filter: contrast(2) invert(1) blur(1px) !important;
    }
}
.nav-icon {
  @include transition-all;
  &:hover:enabled {
    filter: blur(1px);
  }
}



.nav-item {
    // PERSONNAL ADD
    display: flex;
    align-items: center;
}


.right-rounded {
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}
.a-style {
    background-color: $sea;
  color: $gray-300;
  @include transition-all;
  &:hover {
    color: $white;
  }
  border: none;
}

#contact {
    background-color: $primary;
}

.footer {
    background-color: $gray-900;
    padding: 3% 0% 3% 0%;
    @include sans-serif-font;
}

a:disabled,
a[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor:default;
}
i:disabled,
i[disabled]{
  color: #666666;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
}