.dashboard {
    background-color: $gray-200;
}
#header {
    padding: 5%;
    background-image: url('../../apps/index/assets/imgs/header.jpg');
    background-size: cover;
    h1 {
        color: white;
        font-weight: bold;
    }
    .btn {
        margin-bottom: 2%;
        border-radius: 3px;
        background-color: $primary;
        color: white;
    }
}
#content {
    h1 {
        color: $gray-600;
    }
    #content-main {
    }
}
.breadcrumbs {
    background-color: $primary !important;
}
caption {
    background-color: $primary !important;
}

.modal-admin {
    color: $gray-700;

    .modal-content {
        .modal-generate-corps{
            .generate-explanations {
                margin: 2%;
                color: $gray-700;
                line-height : normal;
                font-size: 1.1em;
                margin-bottom: 6%;
            }
            .generate-products-form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                button {
                    margin-top: 3%;
                }
            }
        }
    }
}