{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{% load webpack_static from webpack_loader %}

<div class="nav-background"></div>
<header class="text-white text-center results-header">
    <div class="background" style="background-image:url('{% webpack_static 'substitutes.jpg' %}'); background-size: cover;background-position: center;">
    </div>
    <div class="container my-auto">
        <div class="row">
            <h1 class=""><strong>Mes aliments</strong></h1>
        </div>
    </div>
</header>
<div class="container-fluid substitute-mess">
    <h2 class="text-center">Substituts enregistrés :</h2>
    <div class="row mx-auto">
        {% for substitute in substitutes %}
        <div class="col-12 col-md-4 mx-auto substitute">
            <div class="sub-images">
                <img class="img-fluid photo" src="{{ substitute.substituted.photo_url }}" alt="product_img">
                <img class="img-fluid sub-nutriscore" src="{% webpack_static substitute.nutriscore %}" alt="nutriscore">
            </div>
            <a href="{% url 'informations' product=substitute.substituted.name %}">
                <h4>{{ substitute.substituted.name }}</h4>
            </a>
            <h5 class='text-center'>Substitut de : <a href="{% url 'informations' product=substitute.base_product.name %}">
                    {{ substitute.base_product.name }}</a></h5>
        </div>
        {% endfor %}
    </div>
    {% if not substitutes %}
    <h4 class="text-center no-sub"> Aucun substituts n'a été enregistré pour l'instant.</h4>
    {% endif %}
</div>
{% endblock %}