@import '../../../../node_modules/bootstrap/scss/bootstrap';

$rooibos: #C45525;
$sea: #345A61;
$sky: #86EBE6;
$caramel: #DE9440;
$biscuit: #E8A75D;

body {
    font-family: "Scope One", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
}
