{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<header class="d-flex masthead text-white text-center">
    <div class="container my-auto center-block">
        <div class="row center-text">
            <div class="col-lg-10 mx-auto text-center">
                <h1 class="text-uppercase">
                    <strong>Activation non valide.</strong>
                </h1>
                <hr>
            </div>
        </div>
        <div>

            <h2>Assurez vous de cliquer sur le lien donné dans l'email envoyé.</h2>
        </div>
    </div>
</header>
{% endblock %}